@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Microsoft Security Day 2018</h1>
    <h2>#hashtag</h2>
    <p class="lead">El equipo de Microsoft Servicios os agradece vuestra presencia en este evento y tiene un mensaje importante para vosotros.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

